.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Demo Component Styles. Remove it when you start building your application */

.demo-component {
  margin-top: 20px;
  background-color: rgb(255, 255, 255, 0.04);
  padding: 10px;
  border-radius: 10px;
}

.demo-user-list {
  text-align: left;
  font-size: 1rem;
  color: white;
  font-weight: thin;
  padding: 0;
}

.demo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.demo-input {
  padding: 10px;
  font-size: 1rem;
  width: 300px;
}

.demo-component button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
